@import '../abstract/color.module.scss';
@import '../abstract/mediaqueries.module.scss';

.container__buttontop{
   width: 48px;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   right: 40px;
   bottom: 50px;
   z-index: 200;
   background-color: $cor-verde;
   text-align: center;
   border: none;
   border-radius: 50%;
   transition: .2s;
   cursor: pointer;
   @include laptop{
      right: 8px;
      bottom: 40px;
   }
   @include tablet{ 
      right: 24px;
   }
   svg{
      pointer-events: none;
   }
}