@import '../abstract/color.module.scss';
@import '../abstract/mediaqueries.module.scss';

.sectionFooter{
   margin: 85px 0 130px 0;
   position: relative;

   &::before{
      content: '';
      position: absolute;
      width: 386px;
      height: 386px;
      left: -393px;
      top: -319px;
      z-index: -1;
      background-color: $cor-verde;
      opacity: 0.19;
      filter: blur(125px);
   }
   &::after{
      content: '';
      position: absolute;
      width: 386px;
      height: 386px;
      left: 95%;
      bottom: -119px;
      z-index: -1;
      background-color: $cor-verde;
      opacity: 0.19;
      filter: blur(125px);
   }

   .sectionFooter__container{
      max-width: 1031px;
      margin: 0 auto;
      padding: 180px 0 180px 48px;
      background-image: url('../../assets/img/img-laptop.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      @include small-laptop{
         padding: 60px 0 180px 48px;
      }
      @include tablet{
         padding: 60px 24px 180px 24px;
         background-position: left bottom;
      }
      @include mobile{
         padding: 20px 24px 180px 24px;
         background-size: contain;
      }
   }

   h1{
      max-width: 480px;
      margin-bottom: -87px;
      font-family: 'Gilroy-semibold', sans-serif;
      font-size: 1.875rem;
      line-height: 36px;
      color: $cor-branco-2;
      @include small-laptop{
         margin-bottom: 120px;
         text-align: center;
      }
      @include tablet{
         max-width: 100%;
         font-size: 1.5625rem;
         line-height: 32px;
      }
      @include mobile{
         margin-bottom: 50px;
      }
      a{
         display: inline-block;
         font-family: 'Gilroy-bold', sans-serif;
         color: $cor-verde;
      }
   }
}