@import '../abstract/mediaqueries.module.scss';

.titulosection{
   margin-bottom: 50px;
   display: flex;
   gap: 14px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Gilroy-bold', sans-serif;
   font-size: 1.875rem;
   line-height: 36px;
   text-align: center;
   color: #FFFFFF;
   @include tablet{
      font-size: 1.5625rem;
      margin-bottom: 40px;
   }
   svg{
      animation: movement 1s ease forwards infinite alternate;
   }
}

@keyframes movement {
   from{ transform: translateY(-3px);}
   to{ transform: translateY(5px); }
}