@import '../abstract/color.module.scss';
@import '../abstract/mediaqueries.module.scss';

.main__home{
   padding: 0 48px;
   @include tablet{
      padding: 0 24px;
   }
}

.main__homeContainer{
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 48px;

   @include laptop{
      gap: 32px;
   }
   @include tablet{
      margin: 60px auto;
      flex-direction: column;
   }

   .main__home__divTexto{
      @include tablet{
         text-align: center;
      }
      h1{
         margin-bottom: 6px;
         font-family: 'Gilroy-extrabold', sans-serif;
         font-size: 2.5rem;
         line-height: 50px;
         color: $cor-verde;
         @include mobile{
            font-size: 2rem;
            line-height: 38px;
         }
      }
   
      p{
         max-width: 463px;
         color: $cor-branco-2;
         font-size: 1rem;
         line-height: 146.54%;
      }
   }

   .main__home__divImg{
      flex-shrink: 0;
      position: relative;

      @include laptop{
         flex-shrink: 1;
      }

      &::after{
         content: '';
         position: absolute;
         width: 386px;
         height: 386px;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%); 
         background-color: #12FF00;
         opacity: 0.19;
         filter: blur(125px);
         @include mobile{
            width: 100%;
            height: 100%;
         }
      }
   }
}

.section1__home{
   padding: 130px 48px 160px 48px;
   position: relative;
   background-image: url(../../assets/img/Ellipse-bottom.svg);
   background-repeat: no-repeat;
   background-position: center bottom;

   @include tablet{
      padding: 40px 24px 90px 24px;
   }
}  

.section1__homecontainer{
   max-width: 890px;
   margin: 0 auto;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.section1__home__article{
   h2{
      margin-bottom: 20px;
      font-family: 'Gilroy-bold', sans-serif;
      font-size: 1.5625rem;
      line-height: 35px;
      color: $cor-branco-1;
      @include tablet{
         font-size: 1.375rem;
         line-height: 30.8px;
      }
      @include mobile{
         font-size: 1.25rem;
         line-height: 30px;
      }
   }
}

.section1__home__articleQuestoes{
   padding: 19px 32px 19px 11px;
   margin-top: 20px;
   display: flex;
   gap: 19px;
   align-items: center;
   position: relative;
   color: $cor-branco-2;
   font-family: 'Gilroy-medium', sans-serif;
   font-size: 1rem;
   line-height: 19px;
   border: 1px solid $cor-verde;
   border-radius: 10px;
   cursor: pointer;
   transition-property: transform;
   transition-duration: .2s;
   transition-timing-function: ease-in-out;
   user-select: none;
   @include tablet{
      padding: 19px 19px 19px 0px;
      line-height: 22.4px;
   }
   &:hover{
      color: $cor-verde !important;
      font-family: 'Gilroy-bold', sans-serif !important;
      transform: translate(0px,-4px);
   }

   span{
      font-family: 'Gilroy-bold', sans-serif;
      font-size: 1.5625rem;
      line-height: 30px;   
      color: $cor-verde;
      pointer-events: none;
   }

   input{
      appearance: 'none'; 
      margin: 0; 
      pointer-events: none;
   }
}

.section1__home__divbutton{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 16px;
   font-size: 1.25rem;
   @include tablet{
      justify-content: center;
   }
   a{
      padding: 10px 12px;
      color: $cor-branco-2;
      font-family: 'Gilroy-semibold', sans-serif;
      border: none;
      background-color: transparent;
      cursor: pointer;
   }

   button{
      padding: 10px 53px;
      background-color: $cor-verde;
      border-radius: 44px;
      font-size: 1.25rem;
      font-family: 'Gilroy-bold', sans-serif;
      color: $cor-preto-1;
      border: none;
      cursor: pointer;
   }
}