@import '../abstract/color.module.scss';
@import '../abstract/mediaqueries.module.scss';

.sectionResultado__container{
   max-width: 938px;
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 48px;

   @include tablet{
      padding: 0 24px;
   }
}

.sectionResultado__articlePerfil{
   margin: 100px 0;


   @include tablet{
      margin-top: 60px;
   }
   
   .sectionResultado__articlePerfil__divflex{
      display: flex;
      align-items: center;
      gap: 42px;

      @include tablet{
         gap: 32px;
         align-items: flex-start;
         flex-direction: column;
      }

      .sectionResultado__divflex{
         display: flex;
         flex-direction: column;
         gap: 10px;
      }

      h1{
         position: relative;
         font-family: 'Gilroy-bold', sans-serif;
         font-size: 3.125rem;
         line-height: 60px;
         color: $cor-verde;

         @include tablet{
            font-size: 2.5rem;
         }

         span{
            font-size: 1.875rem;
            line-height: 36px;
         }

         &::after{
            content: '';
            width: 2px;
            height: 100%;
            position: absolute;
            top: 0;
            right: -21px;
            display: block;
            background-color: $cor-cinza;

            @include tablet{
               width: 100%;
               height: 2px;
               top: calc(100% + 11px);
               right: 0px;
            }
         }
      }

      p{
         font-family: 'Gilroy-medium', sans-serif;
         font-size: 1rem;
         line-height: 146.54%;
         color: $cor-branco-2;

         strong{
            font-family: 'Gilroy-bold', sans-serif;
         }
      }

      .div1{    
         margin-bottom: 8px;  
         a{
            margin-right: 8px;
            color: $cor-verde;
         }
      }

      .div2{
         a{
            margin-right: 8px;
            color: $cor-verde;
         }
      }
   }
}

.sectionResultado__article2Container{
   display: flex;
   flex-direction: column;

   .sectionResultado__article2resultado{
      & + article{
         margin-top: 50px;
      }

      h2{
         margin-bottom: 20px;
         font-family: 'Gilroy-bold', sans-serif;
         font-size: 1.5625rem;
         line-height: 35px;
         color: $cor-branco-1;
         @include tablet{
            font-size: 1.375rem;
            line-height: 30.8px;
         }
         @include mobile{
            font-size: 1.25rem;
            line-height: 30px;
         }
      }
   }

   .sectionResultado__article2resultado__questao{
      padding: 19px 30px;
      margin-top: 20px;
      display: flex;
      gap: 19px;
      align-items: center;
      position: relative;
      color: $cor-branco-2;
      font-family: 'Gilroy-medium', sans-serif;
      font-size: 1rem;
      line-height: 22.4px;
      border: 1px solid $cor-verde;
      border-radius: 10px;
      @include tablet{
         padding: 19px;
         line-height: 22.4px;
      }
      span{
         font-family: 'Gilroy-bold', sans-serif;
         font-size: 1.5625rem;
         line-height: 30px;   
         color: $cor-verde;
      }
   }
}

.sectionResultado__article3Container{
   margin: 100px 0 85px 0;
   display: flex;
   flex-direction: column;

   .sectionResultado__divplaylist{
      text-align: right;
      @include tablet{
         text-align: center;
      }
      button{
         margin-top: 24px;
         font-family: 'Gilroy-bold', sans-serif;
         font-size: 1.25rem;
         line-height: 24px;
         color: #12FF00;
         background-color: transparent;
         border: none;
         cursor: pointer;
      }
   }
}

.sectionResultado__gridlista{
   display: grid;
   gap: 81px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-columns: repeat(
      auto-fit, 
      minmax(200px, 1fr)
   );

   @include small-laptop{
      gap: 40px;
   }
   @include tablet{
      grid-template-columns: repeat(
         auto-fit, 
         minmax(200px, 280px)
      );
      justify-content: center;
   }
   
   .sectionResultado__gridlista__container{
      display: flex;
      flex-direction: column;
      background-color: #0E0E0E;
      border-radius: 16px;
      overflow: hidden;
   }

   img{
      width: 100%;
      object-fit: cover;
      object-position: center;
   }

   p{
      height: 100%;
      padding: 13px 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Gilroy-bold', sans-serif;
      font-size: 1.125rem;
      line-height: 24px;
      text-align: center;
      color: $cor-branco-2;
   }
}