* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: 'Gilroy-regular';
   src: url('../../assets/fonts/font-Gilroy-Regular.otf');
   font-weight: 400;
   font-display: fallback;
}

@font-face {
   font-family: 'Gilroy-medium';
   src: url('../../assets/fonts/font-Gilroy-Medium.otf');
   font-weight: 500;
   font-display: fallback;
}

@font-face {
   font-family: 'Gilroy-semibold';
   src: url('../../assets/fonts/font-Gilroy-SemiBold.otf');
   font-weight: 600;
   font-display: fallback;
}

@font-face {
   font-family: 'Gilroy-bold';
   src: url('../../assets/fonts/font-Gilroy-Bold.otf');
   font-weight: 700;
   font-display: fallback;
}

@font-face {
   font-family: 'Gilroy-extrabold';
   src: url('../../assets/fonts/font-Gilroy-ExtraBold.otf');
   font-weight: 900;
   font-display: fallback;
}

html{
   scroll-behavior: smooth;
}
 
body{
   background-color: #141414;
   font-family: 'Gilroy-regular', sans-serif;
   background-image: url(../../assets/img/Ellipse-left.svg), url(../../assets/img/Ellipse-right.svg), url(../../assets/img/Ellipse-bottom.svg);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-position: left top, right top, center bottom;
}
 
ul li{
   list-style: none;
}
 
a{
   text-decoration: none;
}
 
img {
   max-width: 100%;
   height: auto;
   display: block;
}